# Proyecto an√°lisis de conversaci√≥n de mensajer√≠a

## Cargar datos
- Exportar una conversaci√≥n personal o grupal de Whastapp o Telegram en un formato adecuado (JSON, CSV, etc), no exportar audios, archivos multimedia, etc
- Importar archivo y convertirlo en dataframe
- Obtener y graficar los siguientes datos. Elegir el gr√°fico que mejor represente los datos

<h4>
    Para este Trabajo Pr√°ctico, vamos a usar los datos de conversaci√≥n que trabajamos en el  <a href="../tp3_valores_atipicos/TP3.ipynb">Trabajo Pr√°ctico 3</a>, donde tratamos los datos faltantes.
</h4>

<h4>
    Esos datos los exportamos en el archivo <a href="data/clean_chat.csv">clean_chat</a>.
</h4>

In [1]:
import pandas as pd
import requests
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime 
import dateutil

In [133]:
df = pd.read_csv('data/clean_chat.csv')
df['date_only'] = pd.to_datetime(df['date_only'], errors='coerce')


df['days'] = df['date_only'].apply(lambda x: x.strftime("%A"))

df['words_message'] = df['text'].str.split(" ").str.len()
df

,Unnamed: 0,id,type,date,text,from,from_id,text_length,date_only,time_only,hour_only,days,words_message
0,720,729,message,2021-09-10 08:30:11,"['ID de la reuni√≥n\n', {'type': 'link', 'text'...",Mar√≠a Marta Arrieta,user1691333349,3,2021-09-10,08:30:11,8,Friday,9.0
1,719,728,message,2021-09-10 08:30:05,Buen dia !!!Nos reunimos en 30 minutos !!! ü•ê‚òïü´ñ,Mar√≠a Marta Arrieta,user1691333349,46,2021-09-10,08:30:05,8,Friday,9.0
2,718,727,message,2021-09-07 11:34:16,Gracias profe!!,Marcos Adri√°n Rugoso,user1052727325,15,2021-09-07,11:34:16,11,Tuesday,2.0
3,717,726,message,2021-09-07 11:33:56,"Hola profe, igualmente!",Yago,user810386556,23,2021-09-07,11:33:56,11,Tuesday,3.0
4,716,725,message,2021-09-07 10:59:50,Gracias profe! üòÅ,Pablo Fracaro,user830260616,16,2021-09-07,10:59:50,10,Tuesday,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,7,8,message,2021-03-19 13:53:27,Gravias profe por la clase de hoy. Extra√±aba l...,Matias Ruiz,user857392417,62,2021-03-19,13:53:27,13,Friday,10.0
693,6,7,message,2021-03-19 13:39:41,"Gran desaf√≠o y junto a Uds , con Uds y por Ud...",Mar√≠a Marta Arrieta,user1691333349,63,2021-03-19,13:39:41,13,Friday,15.0
694,5,6,message,2021-03-19 13:37:53,Gracias Mar√≠a Marta!!! Un placer por fin tener...,Daiana Ascurra,user867417470,59,2021-03-19,13:37:53,13,Friday,11.0
695,4,5,message,2021-03-19 13:37:34,Igualmente profe! Un gusto,Giancarlo Galvarini,user1009916191,26,2021-03-19,13:37:34,13,Friday,4.0
696,3,4,message,2021-03-19 13:36:55,Un verdadero placer haber compartido con Uds. ...,Mar√≠a Marta Arrieta,user1691333349,190,2021-03-19,13:36:55,13,Friday,28.0

### Cantidad de mensajes enviados por cada usuario

In [6]:
df.groupby(['from']).groups.keys()

dict_keys(['Arian M', 'Daiana Ascurra', 'Esteban', 'Facu Luna', 'Giancarlo Galvarini', 'Johnatan', 'Julian Campana', 'Lautaro G', 'Marcos Adri√°n Rugoso', 'Mar√≠a Marta Arrieta', 'Matias', 'Matias Navarro', 'Matias Ruiz', 'Mat√≠as Romani', 'Nicolas Contreras', 'Nicol√°s Olivares', 'Ornella Grasso', 'Pablo Fracaro', 'Ramiro', 'Ramiro Giand.', 'Santiago Martinez', 'Santiago Riera', 'Tomas Ga√±an', 'Yago', 'seba F'])

In [134]:
df.groupby('from')['type'].count()

from
Arian M                  35
Daiana Ascurra           22
Esteban                  23
Facu Luna                10
Giancarlo Galvarini      18
Johnatan                 18
Julian Campana           26
Lautaro G                 7
Marcos Adri√°n Rugoso     15
Mar√≠a Marta Arrieta     300
Matias                    7
Matias Navarro            6
Matias Ruiz              17
Mat√≠as Romani             6
Nicolas Contreras        14
Nicol√°s Olivares         10
Ornella Grasso           30
Pablo Fracaro            43
Ramiro                    6
Ramiro Giand.            29
Santiago Martinez        10
Santiago Riera            9
Tomas Ga√±an               5
Yago                     19
seba F                   12
Name: type, dtype: int64

### Promedio de palabras utilizadas por mensaje por cada usuario

In [39]:
df.groupby('from').agg({'words_message':'mean'})

                      text_length
from
Arian M                 25.114286
Daiana Ascurra          46.136364
Esteban                 26.130435
Facu Luna               32.700000
Giancarlo Galvarini     29.222222
Johnatan                26.666667
Julian Campana          45.423077
Lautaro G               27.571429
Marcos Adri√°n Rugoso    31.400000
Mar√≠a Marta Arrieta     85.290000
Matias                  22.000000
Matias Navarro          42.833333
Matias Ruiz             55.529412
Mat√≠as Romani           40.500000
Nicolas Contreras       89.714286
Nicol√°s Olivares        19.800000
Ornella Grasso          43.733333
Pablo Fracaro           40.093023
Ramiro                  64.166667
Ramiro Giand.           59.724138
Santiago Martinez       40.900000
Santiago Riera          25.111111
Tomas Ga√±an             55.800000
Yago                    34.421053
seba F                  32.583333

### Porcentaje de mensajes enviados por cada usuario

In [49]:
df.groupby('from')['type'].count()/df['type'].count()*100

from
Arian M                  5.021521
Daiana Ascurra           3.156385
Esteban                  3.299857
Facu Luna                1.434720
Giancarlo Galvarini      2.582496
Johnatan                 2.582496
Julian Campana           3.730273
Lautaro G                1.004304
Marcos Adri√°n Rugoso     2.152080
Mar√≠a Marta Arrieta     43.041607
Matias                   1.004304
Matias Navarro           0.860832
Matias Ruiz              2.439024
Mat√≠as Romani            0.860832
Nicolas Contreras        2.008608
Nicol√°s Olivares         1.434720
Ornella Grasso           4.304161
Pablo Fracaro            6.169297
Ramiro                   0.860832
Ramiro Giand.            4.160689
Santiago Martinez        1.434720
Santiago Riera           1.291248
Tomas Ga√±an              0.717360
Yago                     2.725968
seba F                   1.721664
Name: type, dtype: float64

### Frecuencia de env√≠o de mensaje dependiendo la hora del d√≠a

In [83]:
df.groupby('hour_only')['type'].count()

hour_only
5      1
6      1
7     14
8     33
9     12
10    49
11    49
12    91
13    63
14    46
15    48
16    33
17    20
18    54
19    53
20    99
21    12
22    19
Name: type, dtype: int64

### Frecuencia de env√≠o de mensaje dependiendo del d√≠a de la semana

In [85]:
groups = [df['date_only'].dt.to_period('D'),"type"]
agregations = {'type':["count"]}

df.groupby(groups).agg(agregations)

                    type
                   count
date_only  type
2021-03-19 message     6
2021-03-21 message     7
2021-03-26 message    25
2021-03-27 message     4
2021-03-29 message    11
...                  ...
2021-08-30 message    29
2021-09-03 message     7
2021-09-04 message     2
2021-09-07 message     6
2021-09-10 message     2

[62 rows x 1 columns]

### Hora del d√≠a preferida por cada usuario para enviar mensajes

In [88]:
df.groupby('from')['hour_only'].max()

from
Arian M                 20
Daiana Ascurra          21
Esteban                 20
Facu Luna               20
Giancarlo Galvarini     22
Johnatan                21
Julian Campana          20
Lautaro G               20
Marcos Adri√°n Rugoso    21
Mar√≠a Marta Arrieta     22
Matias                  17
Matias Navarro          13
Matias Ruiz             20
Mat√≠as Romani           21
Nicolas Contreras       20
Nicol√°s Olivares        20
Ornella Grasso          20
Pablo Fracaro           22
Ramiro                  20
Ramiro Giand.           22
Santiago Martinez       20
Santiago Riera          21
Tomas Ga√±an             21
Yago                    20
seba F                  20
Name: hour_only, dtype: int64

### D√≠a de la semana preferida por cada usuario para enviar mensajes

In [100]:
df.groupby('from')['days'].max()

from
Arian M                 Wednesday
Daiana Ascurra          Wednesday
Esteban                 Wednesday
Facu Luna               Wednesday
Giancarlo Galvarini       Tuesday
Johnatan                Wednesday
Julian Campana          Wednesday
Lautaro G               Wednesday
Marcos Adri√°n Rugoso    Wednesday
Mar√≠a Marta Arrieta     Wednesday
Matias                  Wednesday
Matias Navarro          Wednesday
Matias Ruiz             Wednesday
Mat√≠as Romani           Wednesday
Nicolas Contreras       Wednesday
Nicol√°s Olivares        Wednesday
Ornella Grasso          Wednesday
Pablo Fracaro           Wednesday
Ramiro                  Wednesday
Ramiro Giand.           Wednesday
Santiago Martinez         Tuesday
Santiago Riera          Wednesday
Tomas Ga√±an             Wednesday
Yago                    Wednesday
seba F                  Wednesday
Name: days, dtype: object

### Cantidad promedio de mensajes enviados por hora para cada usuario

In [102]:
groups = ["from","hour_only"]
agregations = {'type':["count"]}

df.groupby(groups).agg(agregations)

                   type
                  count
from    hour_only
Arian M 10            1
        11            1
        12           18
        13            1
        14            2
...                 ...
seba F  10            2
        12            1
        13            2
        18            3
        20            3

[194 rows x 1 columns]

### Cantidad de usuarios promedio que env√≠an mensaje por cada d√≠a de la semana

In [109]:
df.groupby('date_only')['from'].count()

date_only
2021-03-19     6
2021-03-21     7
2021-03-26    25
2021-03-27     4
2021-03-29    11
              ..
2021-08-30    29
2021-09-03     7
2021-09-04     2
2021-09-07     6
2021-09-10     2
Name: from, Length: 62, dtype: int64

### Cantidad de mensajes env√≠ados por mes

In [111]:
groups = [df['date_only'].dt.to_period('M'),"type"]
agregations = {'type':["count"]}

df.groupby(groups).agg(agregations)

                   type
                  count
date_only type
2021-03   message   105
2021-04   message   183
2021-05   message   136
2021-06   message   195
2021-08   message    61
2021-09   message    17

### Cantidad m√≠nima, m√°xima y promedio de palabras por mensaje

In [138]:
df.groupby(['from']).agg({'words_message':['min','max','mean']})

                     words_message
                               min    max       mean
from
Arian M                        1.0   25.0   5.666667
Daiana Ascurra                 1.0   46.0   8.285714
Esteban                        1.0   19.0   5.454545
Facu Luna                      2.0   11.0   5.000000
Giancarlo Galvarini            1.0   28.0   5.750000
Johnatan                       1.0   16.0   5.333333
Julian Campana                 1.0   90.0   9.954545
Lautaro G                      1.0   13.0   5.142857
Marcos Adri√°n Rugoso           1.0   21.0   4.866667
Mar√≠a Marta Arrieta            1.0  161.0  18.595070
Matias                         1.0    6.0   3.714286
Matias Navarro                 3.0   13.0   7.166667
Matias Ruiz                    1.0   43.0   9.823529
Mat√≠as Romani                  2.0   27.0   8.166667
Nicolas Contreras              3.0  121.0  16.000000
Nicol√°s Olivares               1.0    8.0   3.400000
Ornella Grasso                 1.0   27.0   8.400000
Pablo Fracaro                  1.0   36.0   7.571429
Ramiro                         2.0   33.0  12.666667
Ramiro Giand.                  1.0   55.0  10.206897
Santiago Martinez              1.0   20.0   7.100000
Santiago Riera                 2.0   13.0   4.333333
Tomas Ga√±an                    3.0   17.0  10.400000
Yago                           1.0   21.0   5.736842
seba F                         1.0   20.0   5.833333